.group{zoom:1;}.group:before,.group:after{content:"";display:table;}
.group:after{clear:both;}
form.padded-form{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(@{behaviors-url}/boxsizing.htc );width:100%;padding:15px;margin:15px 10px 25px 0;}
.bordered-form{border:1px solid #666666;}
fieldset{width:100%;}
legend{color:#666666;font-size:14px;font-weight:bold;line-height:1.75em;margin:1em 0;display:block;border-bottom:1px solid #666666;width:100%;}
form p{color:#4d4d4d;}
input[type="text"],input[type="password"]{width:100%;padding:6px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(@{behaviors-url}/boxsizing.htc );font-size:12px;font-family:Arial,Verdana,Helvetica,sans-serif;color:#666666;border:1px solid #e6e6e6;}
input[type="image"]{width:auto;border:none;padding:0;}
input[readonly="readonly"],input[disabled="disabled"]{background:#ebebe4;}
input[type="submit"]{width:auto;color:#666666;}
textarea{padding:3px;width:457px;max-width:457px;min-width:457px;height:90px;min-height:90px;border:1px solid #e6e6e6;}
select{padding:3px;width:100%;}
label{display:block;margin:0 0 .25em 0;font-weight:700;line-height:1.4em;color:#4d4d4d;}
label>span{color:#ff0000;}
.form-row{position:relative;margin:15px 0;zoom:1;}.form-row:before,.form-row:after{content:"";display:table;}
.form-row:after{clear:both;}
.form-row>div[class*='form']{float:left;margin:0 15px 0 0;}
label>input[type="checkbox"],label>input[type="radio"]{position:absolute;left:0;font-size:inherit;top:.1em;}
.checkbox-label,.radio-label{position:relative;padding-left:20px;}
select+select{margin-left:10px;}
.error-message{color:#ff0000;}
input.error[type=text]{border:1px solid #ff0000;background:#ffffff;}
.centered-label{position:relative;top:5px;}
.inline-label>label{display:inline-block;margin-right:5px;}
.inline-label>input{width:50%;}
.no-label{padding-top:1.65em;}
label.stacked{font-weight:normal;margin:10px 0 ;}
.form1{width:45px;display:inline-block;margin:0 15px 0 0;}
.form2{width:105px;display:inline-block;margin:0 15px 0 0;}
.form3{width:165px;display:inline-block;margin:0 15px 0 0;}
.form4{width:225px;display:inline-block;margin:0 15px 0 0;}
.form5{width:285px;display:inline-block;margin:0 15px 0 0;}
.form6{width:345px;display:inline-block;margin:0 15px 0 0;}
.form7{width:405px;display:inline-block;margin:0 15px 0 0;}
.form8{width:445px;display:inline-block;margin:0 15px 0 0;} /* edited */
.form9{width:525px;display:inline-block;margin:0 15px 0 0;}
.form10{width:585px;display:inline-block;margin:0 15px 0 0;}
.form11{width:645px;display:inline-block;margin:0 15px 0 0;}
.form12{width:705px;display:inline-block;margin:0 15px 0 0;}
.form13{width:765px;display:inline-block;margin:0 15px 0 0;}
.form14{width:825px;display:inline-block;margin:0 15px 0 0;}
.form15{width:885px;display:inline-block;margin:0 15px 0 0;}
.form16{width:945px;display:inline-block;margin:0 15px 0 0;}
.auto-width{width:auto;}
.modal-overlay{width:100%;height:100%;position:fixed;z-index:8888;background:#000000;background:rgba(0, 0, 0, 0.75);}
.modal{width:50%;height:75%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url(@{behaviors-url}/boxsizing.htc );padding:25px;overflow:auto;position:fixed;top:12.5%;left:25%;z-index:9999;background:#e5e5e5;text-align:left;font-size:12px;}
.close-modal{position:absolute;bottom:10px;}
.form-row>div[class*='form'].update-nag { padding: 0 0 0 15px; margin: 0; }